.edit-todo__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    @media only screen and (max-width: 600px) {
        width: 250px;
    }

    .edit-todo__text {
        margin-bottom: 2vh;
    } 
    
    .edit-todo__date {
        max-width: 150px;
    }
    
    .edit_todo__group {
        display: flex;
        justify-content: space-between;
    }
}

